# Ignore dependencies
node_modules/

# Ignore environment files
.env

# Ignore OS/Editor files
.DS_Store
.idea/
.vscode/
.github/

# Playwright reports and test artifacts
reports/
test-results/
allure-report/
allure-results/

